################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MovieTicketsWebApp/.vs/MovieTicketsWebApp
/MovieTicketsWebApp/bin/Debug/net6.0
/MovieTicketsWebApp/obj
/MovieTicketsWebApp.Data/obj
/MovieTicketsWebApp.Repo/obj
/MovieTicketsWebApp.Service/obj
/MovieTicketsWebApp.Data/bin/Debug/net6.0
/MovieTicketsWebApp.Repo/bin/Debug/net6.0
/MovieTicketsWebApp.Service/bin/Debug/net6.0
/MovieTicketsWebApp.Web/bin/Debug/net6.0
/MovieTicketsWebApp.Web/obj
